create database hotelmanagement
go
USE hotelmanagement
GO
/****** Object:  StoredProcedure [Loans].[Usp_GetLoanAmountDetails]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [Loans].[Usp_GetLoanAmountDetails]
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateSipDashboard]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_UpdateSipDashboard]
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateHotel]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_UpdateHotel]
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateEmployee]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_UpdateEmployee]
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateCountries]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_UpdateCountries]
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateBooking]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_UpdateBooking]
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetSipDashboardByPosition]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_GetSipDashboardByPosition]
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetSipDashboard]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_GetSipDashboard]
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetHotelById]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_GetHotelById]
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetHotel]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_GetHotel]
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetEmployeeId]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_GetEmployeeId]
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetEmployee]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_GetEmployee]
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetdataFromTempTableWithJoin]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_GetdataFromTempTableWithJoin]
GO
/****** Object:  StoredProcedure [dbo].[usp_getdatafromtablevariables]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[usp_getdatafromtablevariables]
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetDataFromCTE]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_GetDataFromCTE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetCountryDetailsById]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_GetCountryDetailsById]
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetCountries]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_GetCountries]
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetCities]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_GetCities]
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetBookings]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_GetBookings]
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetBookingById]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_GetBookingById]
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetAllBooking]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_GetAllBooking]
GO
/****** Object:  StoredProcedure [dbo].[Usp_ErrorCheckStoredProcedure2]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_ErrorCheckStoredProcedure2]
GO
/****** Object:  StoredProcedure [dbo].[Usp_ErrorCheckStoredProcedure]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_ErrorCheckStoredProcedure]
GO
/****** Object:  StoredProcedure [dbo].[Usp_DisplayUserDataByUsername]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_DisplayUserDataByUsername]
GO
/****** Object:  StoredProcedure [dbo].[Usp_DisplayUserData]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_DisplayUserData]
GO
/****** Object:  StoredProcedure [dbo].[Usp_DisplayCountOfUserData2]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_DisplayCountOfUserData2]
GO
/****** Object:  StoredProcedure [dbo].[Usp_DisplayCountOfUserData]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_DisplayCountOfUserData]
GO
/****** Object:  StoredProcedure [dbo].[Usp_deleteSipDashboard]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_deleteSipDashboard]
GO
/****** Object:  StoredProcedure [dbo].[Usp_DeleteHotel]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_DeleteHotel]
GO
/****** Object:  StoredProcedure [dbo].[Usp_DeleteEmployee]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_DeleteEmployee]
GO
/****** Object:  StoredProcedure [dbo].[Usp_deleteCountries]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_deleteCountries]
GO
/****** Object:  StoredProcedure [dbo].[Usp_DeleteBooking]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_DeleteBooking]
GO
/****** Object:  StoredProcedure [dbo].[Usp_AddSipDashboard]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_AddSipDashboard]
GO
/****** Object:  StoredProcedure [dbo].[Usp_AddProjectLevelErrorlog]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_AddProjectLevelErrorlog]
GO
/****** Object:  StoredProcedure [dbo].[Usp_AddHotel]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_AddHotel]
GO
/****** Object:  StoredProcedure [dbo].[Usp_AddFileUpload]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_AddFileUpload]
GO
/****** Object:  StoredProcedure [dbo].[Usp_AddEmployeeReturn]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_AddEmployeeReturn]
GO
/****** Object:  StoredProcedure [dbo].[Usp_AddEmployee_New]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_AddEmployee_New]
GO
/****** Object:  StoredProcedure [dbo].[Usp_AddEmployee]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_AddEmployee]
GO
/****** Object:  StoredProcedure [dbo].[Usp_AddCountries]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_AddCountries]
GO
/****** Object:  StoredProcedure [dbo].[Usp_AddBooking]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Usp_AddBooking]
GO
/****** Object:  StoredProcedure [dbo].[Sp_RegistrationForm]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Sp_RegistrationForm]
GO
/****** Object:  StoredProcedure [dbo].[Sp_LoginForm]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Sp_LoginForm]
GO
/****** Object:  StoredProcedure [dbo].[GetFileUploadDetailsById]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[GetFileUploadDetailsById]
GO
/****** Object:  StoredProcedure [dbo].[GetFileUpload]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[GetFileUpload]
GO
/****** Object:  StoredProcedure [dbo].[GetEmployeeCountByGender]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[GetEmployeeCountByGender]
GO
/****** Object:  StoredProcedure [dbo].[Check_UserName_Password]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Check_UserName_Password]
GO
/****** Object:  StoredProcedure [dbo].[callingFunctioninsp]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[callingFunctioninsp]
GO
/****** Object:  StoredProcedure [dbo].[Add_UserSignIn1]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Add_UserSignIn1]
GO
/****** Object:  StoredProcedure [dbo].[Add_UserSignIn]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Add_UserSignIn]
GO
/****** Object:  StoredProcedure [dbo].[Add_UserRegistration]    Script Date: 11-04-2026 20:23:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[Add_UserRegistration]
GO
/****** Object:  Table [Loans].[AccountBalance]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [Loans].[AccountBalance]
GO
/****** Object:  Table [HR].[sipdashboard]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [HR].[sipdashboard]
GO
/****** Object:  Table [HR].[Employee]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [HR].[Employee]
GO
/****** Object:  Table [FundTransfer].[BankAccount]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [FundTransfer].[BankAccount]
GO
/****** Object:  Table [dbo].[UserRegistration]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [dbo].[UserRegistration]
GO
/****** Object:  Table [dbo].[TEMP_SAVE]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [dbo].[TEMP_SAVE]
GO
/****** Object:  Table [dbo].[tclcheck]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [dbo].[tclcheck]
GO
/****** Object:  Table [dbo].[Sip_Dashboard]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [dbo].[Sip_Dashboard]
GO
/****** Object:  Table [dbo].[sample2]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [dbo].[sample2]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [dbo].[Sales]
GO
/****** Object:  Table [dbo].[ranking]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [dbo].[ranking]
GO
/****** Object:  Table [dbo].[ProjectLevelErrorlog]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [dbo].[ProjectLevelErrorlog]
GO
/****** Object:  Table [dbo].[NewBooking]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [dbo].[NewBooking]
GO
/****** Object:  Table [dbo].[LoginRegister]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [dbo].[LoginRegister]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [dbo].[Hotel]
GO
/****** Object:  Table [dbo].[FileUpload]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [dbo].[FileUpload]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [dbo].[employee]
GO
/****** Object:  Table [dbo].[emp]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [dbo].[emp]
GO
/****** Object:  Table [dbo].[dept]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [dbo].[dept]
GO
/****** Object:  Table [dbo].[countries]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [dbo].[countries]
GO
/****** Object:  Table [dbo].[cities]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [dbo].[cities]
GO
/****** Object:  Table [dbo].[bookings]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [dbo].[bookings]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ERRORlOG_displayrecords]    Script Date: 11-04-2026 20:23:02 ******/
DROP FUNCTION IF EXISTS [dbo].[fn_ERRORlOG_displayrecords]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ERRORlOG]    Script Date: 11-04-2026 20:23:02 ******/
DROP FUNCTION IF EXISTS [dbo].[fn_ERRORlOG]
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 11-04-2026 20:23:02 ******/
DROP TABLE IF EXISTS [dbo].[ErrorLog]
GO
/****** Object:  UserDefinedFunction [dbo].[fsal]    Script Date: 11-04-2026 20:23:02 ******/
DROP FUNCTION IF EXISTS [dbo].[fsal]
GO
/****** Object:  UserDefinedFunction [dbo].[fcube123]    Script Date: 11-04-2026 20:23:02 ******/
DROP FUNCTION IF EXISTS [dbo].[fcube123]
GO
/****** Object:  Schema [Loans]    Script Date: 11-04-2026 20:23:02 ******/
DROP SCHEMA IF EXISTS [Loans]
GO
/****** Object:  Schema [HR]    Script Date: 11-04-2026 20:23:02 ******/
DROP SCHEMA IF EXISTS [HR]
GO
/****** Object:  Schema [FundTransfer]    Script Date: 11-04-2026 20:23:02 ******/
DROP SCHEMA IF EXISTS [FundTransfer]
GO
/****** Object:  Schema [abd]    Script Date: 11-04-2026 20:23:02 ******/
DROP SCHEMA IF EXISTS [abd]
GO
/****** Object:  Schema [abd]    Script Date: 11-04-2026 20:23:02 ******/
CREATE SCHEMA [abd]
GO
/****** Object:  Schema [FundTransfer]    Script Date: 11-04-2026 20:23:02 ******/
CREATE SCHEMA [FundTransfer]
GO
/****** Object:  Schema [HR]    Script Date: 11-04-2026 20:23:02 ******/
CREATE SCHEMA [HR]
GO
/****** Object:  Schema [Loans]    Script Date: 11-04-2026 20:23:02 ******/
CREATE SCHEMA [Loans]
GO
/****** Object:  UserDefinedFunction [dbo].[fcube123]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fcube123] (@x int) 
returns int 
as 
begin 
return @x*@x*@x 
end 
GO
/****** Object:  UserDefinedFunction [dbo].[fsal]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fsal](@id int) 
returns varchar(max) 
as 
begin 
declare @errormessage varchar(max) 
select @errormessage=ErrorMessage from ErrorLog where id=@id 
return @errormessage  
end 
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CurrentUser] [varchar](max) NULL,
	[ErrorNumber] [int] NULL,
	[ErrorSeverity] [varchar](max) NULL,
	[ErrorState] [varchar](max) NULL,
	[ErrorProcedure] [varchar](max) NULL,
	[ErrorLine] [int] NULL,
	[ErrorMessage] [varchar](max) NULL,
	[SERVERNAME] [varchar](max) NULL,
	[errordtae] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ERRORlOG]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_ERRORlOG](@id INT) 
returns table 
as 
return(select * from  ErrorLog where id=@id) 
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ERRORlOG_displayrecords]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_ERRORlOG_displayrecords]()
returns table 
as 
return(select * from  ErrorLog) 
GO
/****** Object:  Table [dbo].[bookings]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookings](
	[id] [int] NULL,
	[customerName] [varchar](max) NULL,
	[location] [varchar](max) NULL,
	[date] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cities]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cities](
	[id] [int] NULL,
	[cityName] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[countries]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[countries](
	[id] [int] NULL,
	[countryName] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dept]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dept](
	[dno] [int] NULL,
	[dname] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[emp]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emp](
	[eid] [int] NULL,
	[ename] [varchar](20) NULL,
	[salary] [int] NULL,
	[dno] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[empid] [int] IDENTITY(1,1) NOT NULL,
	[empname] [varchar](50) NULL,
	[empsalary] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileUpload]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileUpload](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](max) NULL,
	[FilePath] [varchar](max) NULL,
	[ModifiedFilename] [varchar](max) NULL,
	[Createdby] [varchar](max) NULL,
	[CreatedDateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[hotelId] [int] IDENTITY(1000,1) NOT NULL,
	[hotelName] [varchar](max) NULL,
	[hotelLocation] [varchar](max) NULL,
	[hotelImage] [varchar](max) NULL,
	[hotelDescription] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[hotelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginRegister]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginRegister](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fname] [varchar](max) NULL,
	[lname] [varchar](max) NULL,
	[mobileno] [varchar](max) NULL,
	[password] [varchar](max) NULL,
	[Username] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewBooking]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewBooking](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](max) NULL,
	[CustomerName] [varchar](max) NULL,
	[Country] [varchar](max) NULL,
	[City] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectLevelErrorlog]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectLevelErrorlog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StatusCode] [varchar](max) NULL,
	[ErrorMessage] [varchar](max) NULL,
	[StackTraceError] [varchar](max) NULL,
	[InnerExceptionError] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ranking]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ranking](
	[eno] [int] NULL,
	[ename] [varchar](10) NULL,
	[salary] [money] NULL,
	[dno] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[Salesid] [int] NULL,
	[salesamount] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sample2]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sample2](
	[id] [int] NOT NULL,
	[name] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sip_Dashboard]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sip_Dashboard](
	[position] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](max) NULL,
	[weight] [decimal](18, 0) NULL,
	[symbol] [varchar](10) NULL,
	[location] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tclcheck]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tclcheck](
	[Id] [int] NULL,
	[name] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEMP_SAVE]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMP_SAVE](
	[Id] [int] NULL,
	[Name] [varchar](30) NULL,
	[Age] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRegistration]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRegistration](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](max) NULL,
	[Email] [varchar](max) NULL,
	[FullName] [varchar](max) NULL,
	[Password] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [FundTransfer].[BankAccount]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FundTransfer].[BankAccount](
	[id] [int] NULL,
	[AccountName] [varchar](200) NULL,
	[Location] [varchar](300) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [HR].[Employee]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[Employee](
	[id] [int] NULL,
	[name] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [HR].[sipdashboard]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[sipdashboard](
	[id] [int] NULL,
	[name] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Loans].[AccountBalance]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Loans].[AccountBalance](
	[id] [int] NULL,
	[name] [varchar](200) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[bookings] ([id], [customerName], [location], [date]) VALUES (1, N'Smith', N'Darjeeling', CAST(N'2024-08-09' AS Date))
INSERT [dbo].[bookings] ([id], [customerName], [location], [date]) VALUES (2, N'John', N'Mumbai', CAST(N'2021-08-01' AS Date))
INSERT [dbo].[bookings] ([id], [customerName], [location], [date]) VALUES (3, N'Allen', N'San Francisco', CAST(N'2030-09-16' AS Date))
GO
INSERT [dbo].[cities] ([id], [cityName]) VALUES (1, N'Abu Dhabi')
INSERT [dbo].[cities] ([id], [cityName]) VALUES (2, N'Amsterdam')
INSERT [dbo].[cities] ([id], [cityName]) VALUES (3, N'Berlin')
GO
INSERT [dbo].[countries] ([id], [countryName]) VALUES (1, N'Afghanistan')
INSERT [dbo].[countries] ([id], [countryName]) VALUES (3, N'rakh')
INSERT [dbo].[countries] ([id], [countryName]) VALUES (4, N'Ethiopia')
GO
INSERT [dbo].[dept] ([dno], [dname]) VALUES (10, N'admin')
INSERT [dbo].[dept] ([dno], [dname]) VALUES (20, N'sales')
INSERT [dbo].[dept] ([dno], [dname]) VALUES (30, N'dev')
GO
INSERT [dbo].[emp] ([eid], [ename], [salary], [dno]) VALUES (1001, N'a', 12000, 10)
INSERT [dbo].[emp] ([eid], [ename], [salary], [dno]) VALUES (1002, N'b', 14000, 20)
INSERT [dbo].[emp] ([eid], [ename], [salary], [dno]) VALUES (1004, N'c', 16000, 30)
GO
SET IDENTITY_INSERT [dbo].[employee] ON 

INSERT [dbo].[employee] ([empid], [empname], [empsalary]) VALUES (5, N'LAVANYA', 123.0000)
INSERT [dbo].[employee] ([empid], [empname], [empsalary]) VALUES (4, N'rani', 3000.0000)
INSERT [dbo].[employee] ([empid], [empname], [empsalary]) VALUES (7, N'krishna', 1110.0000)
SET IDENTITY_INSERT [dbo].[employee] OFF
GO
SET IDENTITY_INSERT [dbo].[ErrorLog] ON 

INSERT [dbo].[ErrorLog] ([id], [CurrentUser], [ErrorNumber], [ErrorSeverity], [ErrorState], [ErrorProcedure], [ErrorLine], [ErrorMessage], [SERVERNAME], [errordtae]) VALUES (1, N'dbo', 8134, N'16', N'1', N'dbo.Usp_ErrorCheckStoredProcedure', 16, N'Divide by zero error encountered.', N'DESKTOP-P2V677R', NULL)
INSERT [dbo].[ErrorLog] ([id], [CurrentUser], [ErrorNumber], [ErrorSeverity], [ErrorState], [ErrorProcedure], [ErrorLine], [ErrorMessage], [SERVERNAME], [errordtae]) VALUES (2, N'dbo', 8134, N'16', N'1', N'dbo.Usp_ErrorCheckStoredProcedure', 16, N'Divide by zero error encountered.', N'DESKTOP-P2V677R', CAST(N'2024-10-02T08:17:57.990' AS DateTime))
INSERT [dbo].[ErrorLog] ([id], [CurrentUser], [ErrorNumber], [ErrorSeverity], [ErrorState], [ErrorProcedure], [ErrorLine], [ErrorMessage], [SERVERNAME], [errordtae]) VALUES (5, N'dbo', 8134, N'16', N'1', N'dbo.Usp_ErrorCheckStoredProcedure', 8, N'Divide by zero error encountered.', N'DESKTOP-P2V677R', CAST(N'2024-10-02T09:09:43.490' AS DateTime))
SET IDENTITY_INSERT [dbo].[ErrorLog] OFF
GO
SET IDENTITY_INSERT [dbo].[FileUpload] ON 

INSERT [dbo].[FileUpload] ([Id], [FileName], [FilePath], [ModifiedFilename], [Createdby], [CreatedDateTime]) VALUES (1, N'BMW.jfif', N'E:\myclass examples&notes\PNCBank_LoanFiles\PNCBank_LoanFiles\Upload\Files\638608192985331092.jfif', N'638608192985331092.jfif', N'srikanth', CAST(N'2024-09-01T20:39:05.010' AS DateTime))
INSERT [dbo].[FileUpload] ([Id], [FileName], [FilePath], [ModifiedFilename], [Createdby], [CreatedDateTime]) VALUES (1001, N'sample', N'@c:\sample.pdf', N'@sample123.com', N'nagendra', CAST(N'2024-12-01T07:23:25.297' AS DateTime))
INSERT [dbo].[FileUpload] ([Id], [FileName], [FilePath], [ModifiedFilename], [Createdby], [CreatedDateTime]) VALUES (1002, N'Sample-jpg-image-10mb.jpg', N'F:\dotnet core examples 5ambatch\CompanyName_LoanFileUpload\CompanyName_LoanFileUpload\Upload\Files\638686383299734462.jpg', N'638686383299734462.jpg', N'srikanth', CAST(N'2024-12-01T08:25:30.320' AS DateTime))
SET IDENTITY_INSERT [dbo].[FileUpload] OFF
GO
SET IDENTITY_INSERT [dbo].[Hotel] ON 

INSERT [dbo].[Hotel] ([hotelId], [hotelName], [hotelLocation], [hotelImage], [hotelDescription]) VALUES (1003, N'james', N'hyd', N'good', N'jmes marks')
INSERT [dbo].[Hotel] ([hotelId], [hotelName], [hotelLocation], [hotelImage], [hotelDescription]) VALUES (1004, N'james', N'hyd', N'good', N'jmes marks')
INSERT [dbo].[Hotel] ([hotelId], [hotelName], [hotelLocation], [hotelImage], [hotelDescription]) VALUES (1005, N'marks', N'hyd', N'good', N'amrks hdf')
SET IDENTITY_INSERT [dbo].[Hotel] OFF
GO
SET IDENTITY_INSERT [dbo].[LoginRegister] ON 

INSERT [dbo].[LoginRegister] ([id], [fname], [lname], [mobileno], [password], [Username]) VALUES (1, N'lavanya', N'ch', N'8737588438', N'123', N'lavanyach')
INSERT [dbo].[LoginRegister] ([id], [fname], [lname], [mobileno], [password], [Username]) VALUES (2, N'james', N'j', N'5667765445', N'123', N'jamesj')
SET IDENTITY_INSERT [dbo].[LoginRegister] OFF
GO
SET IDENTITY_INSERT [dbo].[NewBooking] ON 

INSERT [dbo].[NewBooking] ([id], [Email], [CustomerName], [Country], [City]) VALUES (3, N'sneha@gmail.com', N'sneha', N'ku', N'nl')
INSERT [dbo].[NewBooking] ([id], [Email], [CustomerName], [Country], [City]) VALUES (4, N'vamsi@gmail.com', N'vamsi', N'chicago', N'ns')
INSERT [dbo].[NewBooking] ([id], [Email], [CustomerName], [Country], [City]) VALUES (5, N'ram@gmail.com', N'ram', N'hyderad', N'klr')
SET IDENTITY_INSERT [dbo].[NewBooking] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectLevelErrorlog] ON 

INSERT [dbo].[ProjectLevelErrorlog] ([Id], [StatusCode], [ErrorMessage], [StackTraceError], [InnerExceptionError]) VALUES (1, N'500', N'Exception of type ''System.Exception'' was thrown.', N'   at Sip_Dashboard_disconnected.Controllers.Sip_DashboardController.GetSip_dashboard() in E:\myclass examples&notes\Sip_Dashboard_disconnected\Sip_Dashboard_disconnected\Controllers\Sip_DashboardController.cs:line 74
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.TaskOfIActionResultExecutor.Execute(ActionContext actionContext, IActionResultTypeMapper mapper, ObjectMethodExecutor executor, Object controller, Object[] arguments)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeActionMethodAsync>g__Awaited|12_0(ControllerActionInvoker invoker, ValueTask`1 actionResultValueTask)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeNextActionFilterAsync>g__Awaited|10_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Rethrow(ActionExecutedContextSealed context)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Next(State& next, Scope& scope, Object& state, Boolean& isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.InvokeInnerFilterAsync()
--- End of stack trace from previous location ---
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeFilterPipelineAsync>g__Awaited|20_0(ResourceInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeAsync>g__Awaited|17_0(ResourceInvoker invoker, Task task, IDisposable scope)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeAsync>g__Awaited|17_0(ResourceInvoker invoker, Task task, IDisposable scope)
   at Microsoft.AspNetCore.Authorization.AuthorizationMiddleware.Invoke(HttpContext context)
   at Swashbuckle.AspNetCore.SwaggerUI.SwaggerUIMiddleware.Invoke(HttpContext httpContext)
   at Swashbuckle.AspNetCore.Swagger.SwaggerMiddleware.Invoke(HttpContext httpContext, ISwaggerProvider swaggerProvider)
   at Sip_Dashboard_disconnected.RequestLoggingMiddleware.InvokeAsync(HttpContext context) in E:\myclass examples&notes\Sip_Dashboard_disconnected\Sip_Dashboard_disconnected\CustomMiddlewares\RequestLoggingMiddleware.cs:line 24
   at Sip_Dashboard_disconnected.ErrorHandlerMiddleware.Invoke(HttpContext context) in E:\myclass examples&notes\Sip_Dashboard_disconnected\Sip_Dashboard_disconnected\CustomMiddlewares\ErrorHandlerMiddleware.cs:line 21', N'')
INSERT [dbo].[ProjectLevelErrorlog] ([Id], [StatusCode], [ErrorMessage], [StackTraceError], [InnerExceptionError]) VALUES (1001, N'500', N'A possible object cycle was detected which is not supported. This can either be due to a cycle or if the object depth is larger than the maximum allowed depth of 32.', N'   at System.Text.Json.ThrowHelper.ThrowInvalidOperationException_SerializerCycleDetected(Int32 maxDepth)
   at System.Text.Json.JsonSerializer.Write(Utf8JsonWriter writer, Int32 originalWriterDepth, Int32 flushThreshold, JsonSerializerOptions options, WriteStack& state)
   at System.Text.Json.JsonSerializer.WriteAsyncCore(Stream utf8Json, Object value, Type inputType, JsonSerializerOptions options, CancellationToken cancellationToken)
   at Microsoft.AspNetCore.Mvc.Formatters.SystemTextJsonOutputFormatter.WriteResponseBodyAsync(OutputFormatterWriteContext context, Encoding selectedEncoding)
   at Microsoft.AspNetCore.Mvc.Formatters.SystemTextJsonOutputFormatter.WriteResponseBodyAsync(OutputFormatterWriteContext context, Encoding selectedEncoding)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeNextResultFilterAsync>g__Awaited|29_0[TFilter,TFilterAsync](ResourceInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.Rethrow(ResultExecutedContextSealed context)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.ResultNext[TFilter,TFilterAsync](State& next, Scope& scope, Object& state, Boolean& isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.InvokeResultFilters()
--- End of stack trace from previous location where exception was thrown ---
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeFilterPipelineAsync>g__Awaited|19_0(ResourceInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeAsync>g__Logged|17_1(ResourceInvoker invoker)
   at Microsoft.AspNetCore.Routing.EndpointMiddleware.<Invoke>g__AwaitRequestTask|6_0(Endpoint endpoint, Task requestTask, ILogger logger)
   at Microsoft.AspNetCore.Authorization.AuthorizationMiddleware.Invoke(HttpContext context)
   at BankAccounts_DotnetCore3._1version.CustomMiddlewares.ErrorHandlerMiddleware.Invoke(HttpContext context) in C:\Users\Dell\Downloads\BankAccounts_DotnetCore3.1version\BankAccounts_DotnetCore3.1version\BankAccounts_DotnetCore3.1version\CustomMiddlewares\ErrorHandlerMiddleware.cs:line 28', N'')
SET IDENTITY_INSERT [dbo].[ProjectLevelErrorlog] OFF
GO
INSERT [dbo].[ranking] ([eno], [ename], [salary], [dno]) VALUES (1, N'Alice', 70000.0000, 10)
INSERT [dbo].[ranking] ([eno], [ename], [salary], [dno]) VALUES (2, N'Bob', 60000.0000, 20)
INSERT [dbo].[ranking] ([eno], [ename], [salary], [dno]) VALUES (3, N'Charlie', 55000.0000, 10)
GO
INSERT [dbo].[Sales] ([Salesid], [salesamount]) VALUES (1, 1000.0000)
INSERT [dbo].[Sales] ([Salesid], [salesamount]) VALUES (2, 2000.0000)
INSERT [dbo].[Sales] ([Salesid], [salesamount]) VALUES (3, 3000.0000)
GO
INSERT [dbo].[sample2] ([id], [name]) VALUES (1, N'a')
INSERT [dbo].[sample2] ([id], [name]) VALUES (2, N'b')
GO
SET IDENTITY_INSERT [dbo].[Sip_Dashboard] ON 

INSERT [dbo].[Sip_Dashboard] ([position], [name], [weight], [symbol], [location]) VALUES (5, N'Helium', CAST(4 AS Decimal(18, 0)), N'He', N'chennai')
INSERT [dbo].[Sip_Dashboard] ([position], [name], [weight], [symbol], [location]) VALUES (13, N'hyd', CAST(10 AS Decimal(18, 0)), N'hyd1', N'vizag')
INSERT [dbo].[Sip_Dashboard] ([position], [name], [weight], [symbol], [location]) VALUES (4, N'nitrogen', CAST(90 AS Decimal(18, 0)), N'n', N'nit')
SET IDENTITY_INSERT [dbo].[Sip_Dashboard] OFF
GO
INSERT [dbo].[tclcheck] ([Id], [name]) VALUES (1, N'a')
GO
INSERT [dbo].[TEMP_SAVE] ([Id], [Name], [Age]) VALUES (1, N'pankaj', 20)
INSERT [dbo].[TEMP_SAVE] ([Id], [Name], [Age]) VALUES (2, N'Rahul', 21)
INSERT [dbo].[TEMP_SAVE] ([Id], [Name], [Age]) VALUES (3, N'Sandeep', 22)
GO
SET IDENTITY_INSERT [dbo].[UserRegistration] ON 

INSERT [dbo].[UserRegistration] ([id], [Username], [Email], [FullName], [Password]) VALUES (1, N'rasi', N'rasi@gmail.com', N'rasik', N'1234')
INSERT [dbo].[UserRegistration] ([id], [Username], [Email], [FullName], [Password]) VALUES (2, N'radha', N'radha@gmail.com', N'radhak', N'123')
INSERT [dbo].[UserRegistration] ([id], [Username], [Email], [FullName], [Password]) VALUES (3, N'rocky', N'rocky@gmail.com', N'rockyy', N'roc')
SET IDENTITY_INSERT [dbo].[UserRegistration] OFF
GO
INSERT [FundTransfer].[BankAccount] ([id], [AccountName], [Location]) VALUES (1, N'a', N'hyd')
INSERT [FundTransfer].[BankAccount] ([id], [AccountName], [Location]) VALUES (2, N'b', N'checnni')
GO
INSERT [HR].[sipdashboard] ([id], [name]) VALUES (1, N'hello')
INSERT [HR].[sipdashboard] ([id], [name]) VALUES (2, N'abc')
INSERT [HR].[sipdashboard] ([id], [name]) VALUES (3, N'sample')
GO
INSERT [Loans].[AccountBalance] ([id], [name]) VALUES (1, N'hyd')
INSERT [Loans].[AccountBalance] ([id], [name]) VALUES (2, N'bng')
INSERT [Loans].[AccountBalance] ([id], [name]) VALUES (3, N'vijawada')
GO
/****** Object:  StoredProcedure [dbo].[Add_UserRegistration]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from UserRegistration
--exec Add_UserRegistration @Username='rocky',@Email='rocky@gmail.com',@FullName=rockyy,@Password=roc
create   procedure [dbo].[Add_UserRegistration](@Username varchar(max),@Email varchar(max),@FullName varchar(max),
@Password varchar(max))
as
begin
set nocount on
if((select Count(*) From UserRegistration(nolock) where Username=@Username and Password=@Password)>0)
	begin
	select '300' 'Error_Code' ,'USER is already exist' 'Error_Message'
	END
	ELSE
	BEGIN
		insert into UserRegistration values(@Username,@Email,@FullName,@Password)
        select '200' 'Error_Code' ,'User Is Registered Successfully' 'Error_Message'

     END
end
GO
/****** Object:  StoredProcedure [dbo].[Add_UserSignIn]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Add_UserSignIn](@Username varchar(max),@Password varchar(max))
as
begin
set nocount on
select * from UserRegistration where Username=@Username and Password=@Password
end
GO
/****** Object:  StoredProcedure [dbo].[Add_UserSignIn1]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Add_UserSignIn1](@Username varchar(max),@Password varchar(max))
as
begin
set nocount on

--Precompiled Sqlstatemets
--RESULTSET1/OUTPUT 1
select * from UserRegistration where Username=@Username and Password=@Password
--one stored procedue we call another stored procedure.
--RESULTSET2/OUTPUT 2(Here no parameters are not there this sp)
exec Usp_DisplayUserData
---RESULTSET3/OUTPUT3
exec Usp_DisplayUserDataByUsername @username=@Username
---RESULTSET4/OUTPUT4
EXEC [dbo].Usp_DisplayCountOfUserData
end
GO
/****** Object:  StoredProcedure [dbo].[callingFunctioninsp]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[callingFunctioninsp]
as
begin
--calling the userdefined function in stored procedure.
select * from fn_ERRORlOG_displayrecords()
end
GO
/****** Object:  StoredProcedure [dbo].[Check_UserName_Password]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec Check_UserName_Password @Username='rasi',@Password='1234'
create   Procedure [dbo].[Check_UserName_Password]            
(@Username varchar(50),            
@Password varchar(50))
as
begin
set nocount on 
if((select Count(*) From UserRegistration(nolock) where Username=@Username and Password=@Password)>0)
	begin
	select '200' 'Error_Code' ,'USER IS VALID' 'Error_Message'
	END
	ELSE
	BEGIN
		select '4000' 'Error_Code' ,'USER IS NOT VALID' 'Error_Message'
     END
END

GO
/****** Object:  StoredProcedure [dbo].[GetEmployeeCountByGender]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEmployeeCountByGender]
    @Gender NVARCHAR(20),
    @EmployeeCount INT OUTPUT  -- Marked as OUTPUT
AS
BEGIN
    SELECT @EmployeeCount = COUNT(*) 
    FROM Employees 
    WHERE Gender = @Gender;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetFileUpload]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*-- =============================================      
-- Author: Nagendra      
-- Create Date: 30-AUG-2024      
-- Description: Check Login details      
-- EXEC [dbo].[GetFileUpload] 
--select * from FileUpload 
--Last Modified by :
-- ============================================*/  

create proc [dbo].[GetFileUpload]
as
begin
set nocount on
select * from FileUpload
end
GO
/****** Object:  StoredProcedure [dbo].[GetFileUploadDetailsById]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*-- =============================================        
-- Author: Srikanth        
-- Create Date: 31-AUG-2024        
-- Description: Get FileUpload Details By Id        
-- EXEC [dbo].[GetFileUploadDetailsById] @Id=1  
--select * from FileUpload where Id=1  
--Last Modified by :  
-- ============================================*/    
  
CREATE proc [dbo].[GetFileUploadDetailsById] (@Id int)
as  
begin  
set nocount on  
select * from FileUpload  where Id=@Id
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_LoginForm]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-- =============================================      
-- Author: Lavanya      
-- Create Date: 21-MAY-2024      
-- Description: Check Login details      
-- EXEC [dbo].[Sp_LoginForm] @Username='lavanysch',@password='123' 
--select * from LoginRegister  
-- ============================================*/    
CREATE   procedure [dbo].[Sp_LoginForm](@Username varchar(max),@password varchar(max))  
as  
begin  
set nocount on  
if((select count(*) from LoginRegister where Username=@Username and password=@password)>0)  
begin  
select '400' 'statuscode','user details valid' 'message'  
end  
else  
begin  
select '500' 'statuscode','user details are not valid' 'message'  
end  
end  

GO
/****** Object:  StoredProcedure [dbo].[Sp_RegistrationForm]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[Sp_RegistrationForm](@fname varchar(max),@lname varchar(max),@mobileno varchar(max),
@password varchar(max),@Username varchar(max))
as
begin
set nocount on
if((select count(*) from LoginRegister where Username=@Username and password=@password)>0)
begin
select '200' 'statuscode','user details already exist' 'message'
--select '300' 'Error_Code','USER is already exist' 'Error_Message'

end
else
begin
insert into LoginRegister (Username,password,fname,lname,mobileno) values(@Username,@password,@fname,@lname,@mobileno)
select '300' 'statuscode','user detailes added sucessfully' 'message'
end
end
--select * from LoginRegister
--exec Sp_RegistrationForm @Username='lavanyach',@password='123',@fname='lavanya',@lname='ch',@mobileno='8737588438'
--exec Sp_RegistrationForm 'lavanyach','123','lavanya','ch','8737588438'

GO
/****** Object:  StoredProcedure [dbo].[Usp_AddBooking]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Usp_AddBooking](@Email varchar(max),@CustomerName varchar(max),@Country varchar(max),
@City varchar(max),@insertedvalue int out)
as
begin
set nocount on--it is used to prevent the no.of rows affected
insert into NewBooking(Email,CustomerName,Country,City)values(@Email,@CustomerName,@Country,@City)
set @insertedvalue=scope_identity()
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_AddCountries]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Usp_AddCountries](@id int,@countryName varchar(max))
as
begin
set nocount on
insert into countries values(@id,@countryName)
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_AddEmployee]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Usp_AddEmployee](@empname varchar(max),@empsalary money)
as
begin
set nocount on
insert into employee (empname,empsalary)values(@empname,@empsalary)
--set @insertvalue=SCOPE_IDENTITY()
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_AddEmployee_New]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Usp_AddEmployee_New](@empname varchar(max),@empsalary money)  
as  
begin  
set nocount on  
insert into employee (empname,empsalary)values(@empname,@empsalary)  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_AddEmployeeReturn]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Usp_AddEmployeeReturn](@empname varchar(max),@empsalary money,@insertvalue int output)  
as  
begin  
set nocount on  
insert into employee (empname,empsalary)values(@empname,@empsalary)  
-- Capture the identity of the inserted row
set @insertvalue=SCOPE_IDENTITY()  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_AddFileUpload]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-- =============================================      
-- Author: Nagendra      
-- Create Date: 30-AUG-2024      
-- Description: this store procedure used to add the file information to store procedure      
 EXEC  Usp_AddFileUpload @FileName='sample', @FilePath='@c:\sample.pdf',@ModifiedFilename='@sample123.com',@Createdby='nagendra'
--select * from FileUpload 
--Last Modified by :
-- ============================================*/  

create procedure [dbo].[Usp_AddFileUpload](@FileName varchar(max),@FilePath varchar(max),@ModifiedFilename varchar(max),@Createdby varchar(max))
as
begin
set nocount on
begin try
insert into FileUpload (FileName,FilePath,ModifiedFilename,Createdby,CreatedDateTime)values(@FileName,@FilePath,@ModifiedFilename,@Createdby, getdate())
select '200' 'ERROR_CODE','FILE IS UPLOADED SUCCESSFULLY' 'ERROR_MESSAGE'
end try
begin catch
---Handling the excepting here
INSERT into [dbo].[ErrorLog] 
            (
            [CurrentUser], 
            [ErrorNumber], 
            [ErrorSeverity], 
            [ErrorState], 
            [ErrorProcedure], 
            [ErrorLine], 
            [ErrorMessage],
            [SERVERNAME]
            ) 
        VALUES 
            (
            CONVERT(sysname, CURRENT_USER), 
            ERROR_NUMBER(),
            ERROR_SEVERITY(),
            ERROR_STATE(),
            ERROR_PROCEDURE(),
            ERROR_LINE(),
            ERROR_MESSAGE(),
            @@SERVERNAME
            );

end catch
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_AddHotel]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE procedure [dbo].[Usp_AddHotel](@hotelName varchar(max),
  @hotelLocation varchar(max), @hotelImage varchar(max),@hotelDescription varchar(max),@insertedidvalue int out)
  as
  begin
  set nocount on
  Insert into Hotel(hotelName ,hotelLocation, hotelImage ,hotelDescription ) values 
  (@hotelName ,@hotelLocation, @hotelImage ,@hotelDescription)
  --scope_identity is used to return the last saved/inserted id
  set @insertedidvalue=SCOPE_IDENTITY()
  end
GO
/****** Object:  StoredProcedure [dbo].[Usp_AddProjectLevelErrorlog]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*-- =============================================        
-- Author: Srikanth        
-- Create Date: 27-Oct-2024        
-- Description:Insert the log messages to dbo.ProjectLevelErrorlog        
-- EXEC [dbo].[Usp_AddProjectLevelErrorlog]   
--select * from dbo.ProjectLevelErrorlog   
--Last Modified by :  
-- ============================================*/  
Create Procedure [dbo].[Usp_AddProjectLevelErrorlog](
  @StatusCode varchar(max), 
  @ErrorMessage varchar(max), 
  @StackTraceError varchar(max), 
  @InnerExceptionError varchar(max)
) as begin 
Set 
  nocount on --it prevents the no of rows effected.
  insert into ProjectLevelErrorlog(
    StatusCode, ErrorMessage, StackTraceError, 
    InnerExceptionError
  ) 
values 
  (
    @StatusCode, @ErrorMessage, @StackTraceError, 
    @InnerExceptionError
  ) 
 end

GO
/****** Object:  StoredProcedure [dbo].[Usp_AddSipDashboard]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Usp_AddSipDashboard](
@name varchar(max),@weight decimal,@symbol varchar(10),
@location varchar(max))
as
begin
set nocount on
insert into Sip_Dashboard (name,weight,symbol,location)values(@name,@weight,@symbol,@location)
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_DeleteBooking]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Usp_DeleteBooking](@id int)
as
begin
set nocount on
delete from NewBooking where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_deleteCountries]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Usp_deleteCountries](@id int)
as
begin
set nocount on
delete from countries where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_DeleteEmployee]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Usp_DeleteEmployee](@empid int)  
as  
begin  
delete from employee  where empid=@empid  
end  
GO
/****** Object:  StoredProcedure [dbo].[Usp_DeleteHotel]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create procedure [dbo].[Usp_DeleteHotel](@hotelId int)
  as
  begin
  set nocount on
  delete from Hotel where hotelId=@hotelId
  end
GO
/****** Object:  StoredProcedure [dbo].[Usp_deleteSipDashboard]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Usp_deleteSipDashboard]
(@position int)
as
begin
set nocount on
delete from Sip_Dashboard where position=@position
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_DisplayCountOfUserData]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Usp_DisplayCountOfUserData]
as
begin
select count(*) as 'count of employee' from UserRegistration  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_DisplayCountOfUserData2]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[Usp_DisplayCountOfUserData2](@count int output)
as
begin

select * from UserRegistration
select @count=@@ROWCOUNT 
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_DisplayUserData]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--sp_helptext Usp_DisplayUserData -- To see the code of stored procedure.
--exec Usp_DisplayUserData
CREATE procedure [dbo].[Usp_DisplayUserData]  
as  
begin  
--Precompiled SqlStatements 
select * from UserRegistration  
--calling the output parameter stored procedure
DECLARE @Totalcount INT;--//Declare one integer variable
--we are returning int data data from stored procedure,due to that i am taking integer here.
EXEC Usp_DisplayCountOfUserData2 @count = @Totalcount output;

SELECT @Totalcount AS 'Number of User found';
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_DisplayUserDataByUsername]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Usp_DisplayUserDataByUsername](@username varchar(100))
as
begin
select Email,FullName from UserRegistration  where Username=@username 
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_ErrorCheckStoredProcedure]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*-- =============================================      
-- Author: Srikanth    
-- Create Date: 02-Oct-2024      
-- Description: this store procedure used to raise the exception manulaay for understaning purpose     
 EXEC  [dbo].[Usp_ErrorCheckStoredProcedure]
--select * from [dbo].[ErrorLog]  
--Last Modified by :
-- ============================================*/  

CREATE procedure [dbo].[Usp_ErrorCheckStoredProcedure]
as
begin
set nocount on
begin try
Begin transaction--after begin try write this statement
delete from tclcheck where id=3
--select 1/0 --dived by zero exception raised explicitly 
commit--commit always write before end try.
end try
begin catch
Rollback--write in endcatch  section  after begin catch only
---Handling the excepting here

			
end catch
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_ErrorCheckStoredProcedure2]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-- =============================================      
-- Author: Srikanth    
-- Create Date: 02-Oct-2024      
-- Description: this store procedure used to raise the exception manulaay for understaning purpose     
 EXEC  [dbo].[Usp_ErrorCheckStoredProcedure2]
select * from [dbo].[ErrorLog]  
select * from sampl2
--Last Modified by :
-- ============================================*/  

Create procedure [dbo].[Usp_ErrorCheckStoredProcedure2]
as
begin
set nocount on
begin try
Begin transaction--after begin try write this statement
insert into sample2 values(1,'a')
 
--If you  are not raised any exception here it will not throw any error.after that commit statement is executed.
commit--commit always write before end try.
end try
begin catch
Rollback--write in Begin catch selection   
---Handling the excepting here

			
end catch
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetAllBooking]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Usp_GetAllBooking]
as
begin
set nocount on
select * from NewBooking
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetBookingById]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Usp_GetBookingById](@id int)
as
begin
set nocount on
select * from NewBooking where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetBookings]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Usp_GetBookings]
as
begin
Set nocount on
select * from bookings
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetCities]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Usp_GetCities]
as 
begin
select * from cities
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetCountries]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Usp_GetCountries]
as 
begin
set nocount on
select * from countries
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetCountryDetailsById]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Usp_GetCountryDetailsById](@id int)
as
begin
set nocount on
select * from countries where id=@id
end

GO
/****** Object:  StoredProcedure [dbo].[Usp_GetDataFromCTE]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_GetDataFromCTE]
AS 
BEGIN
--CTE USAGE IN STORED PROCEDURE
WITH TEMPCTE
AS
(select * from TEMP_SAVE WHERE NAME='Neeraj')
SELECT * FROM TEMPCTE
END
GO
/****** Object:  StoredProcedure [dbo].[usp_getdatafromtablevariables]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_getdatafromtablevariables]
as
begin
---sql statements
set nocount on 
Declare @sampletable Table(eid int,ename varchar(100),esalary int)
insert into @sampletable values(1,'a',12000),(2,'b',11000)
update @sampletable set ename='hyderabad' where eid=1
select * from @sampletable
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetdataFromTempTableWithJoin]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Usp_GetdataFromTempTableWithJoin]
as 
begin
create table #department(empid int,deptid int,deptname varchar(100))
insert into #department values(1,1,'IT'),(2,2,'CLEANING'),(5,5,'hR')
select * from employee
select * from #department
select  e.empid,e.empname,e.empsalary,d.deptname from employee e inner join #department d on e.empid=d.empid
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetEmployee]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Usp_GetEmployee]
as
begin
set nocount on
select * from employee
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetEmployeeId]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Usp_GetEmployeeId](@empid int)  
as  
begin  
set nocount on  
select * from employee where empid=@empid  
end  
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetHotel]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create procedure [dbo].[Usp_GetHotel]
  as
  begin
  set nocount on
  select * from Hotel
  end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetHotelById]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create procedure [dbo].[Usp_GetHotelById](@hotelId int)
  as
  begin
  set nocount on  --it prevents the noof rows effected
select * from Hotel where  hotelId=@hotelId
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetSipDashboard]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Usp_GetSipDashboard]
as
begin
set nocount on
select * from Sip_Dashboard
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetSipDashboardByPosition]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Usp_GetSipDashboardByPosition](@position int)
as
begin
set nocount on
select * from Sip_Dashboard where position=@position
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateBooking]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Usp_UpdateBooking](@id int,@Email varchar(max),@CustomerName varchar(max),@Country varchar(max),
@City varchar(max))
as
begin
set nocount on
update NewBooking set Email=@Email,CustomerName=@CustomerName,Country=@Country,City=@City where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateCountries]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Usp_UpdateCountries](@id int,@countryName varchar(max))
as
begin
set nocount on
update countries set countryName=@countryName where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateEmployee]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Usp_UpdateEmployee](@empid int,@empname varchar(50),@empsalary money)
as 
begin
set nocount on
update employee set empname=@empname,empsalary=@empsalary where empid=@empid
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateHotel]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create procedure [dbo].[Usp_UpdateHotel](@hotelId int,@hotelName varchar(max),
  @hotelLocation varchar(max), @hotelImage varchar(max),@hotelDescription varchar(max))
  as
  begin
  set nocount on
  update hotel set hotelName=@hotelName,hotelLocation=@hotelLocation,hotelImage=@hotelImage,
  hotelDescription=@hotelDescription where hotelId=@hotelId
  end
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateSipDashboard]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Usp_UpdateSipDashboard]
(@position int,@name varchar(max),@weight decimal,@symbol varchar(10),
@location varchar(max))
as
begin
set nocount on
update Sip_Dashboard set name=@name,weight=@weight,symbol=@symbol,location=@location where position=@position
end
GO
/****** Object:  StoredProcedure [Loans].[Usp_GetLoanAmountDetails]    Script Date: 11-04-2026 20:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [Loans].[Usp_GetLoanAmountDetails]
as
begin


select 'employee is inserted successfuly'

end
GO
---PLEASE RUN THIS SCRIPT IN HOTEL MANAGEMENT DATABASE--------------
GO
create table ProjectLevelLog(Id int identity(1,1) primary key,username varchar(100),LogLevel varchar(max),MessageTemplate varchar(max),LogDate datetime)
Go

Create procedure Usp_ProjectLevelLog(@username varchar(max),@LogLevel varchar(max),@MessageTemplate varchar(max))
as 
begin 
set nocount on
insert into ProjectLevelLog(username,LogLevel,MessageTemplate,LogDate) values(@username,@LogLevel,@MessageTemplate,GETDATE())
end
Go
Select * from ProjectLevelLog
GO
-----------
--======Database script for adding username column for ProjectLevelErrorlog=========
Go
alter table ProjectLevelErrorlog add username varchar(max)
Go
Alter  Procedure Usp_AddProjectLevelErrorlog(@StatusCode varchar(max),@ErrorMessage varchar(max),@StackTraceError varchar(max),@InnerExceptionError varchar(max),@username varchar(max)=null )  
as begin  
Set nocount on --it prevents the no of rows effected.  

insert into ProjectLevelErrorlog(StatusCode, ErrorMessage, StackTraceError,InnerExceptionError,ErrorLogTime,username)values(@StatusCode,@ErrorMessage,@StackTraceError,@InnerExceptionError,GETDATE(),@username)  
end 
-------------------
 
 
